{% block %}
    {% client %}(weißt du etwas über|was ist|was|wer ist|wer|sag mir etwas über|erzähl mir etwas über) (?P<query>.*){% endclient %}
    {% response %}{% call wasIst: %query %}{% endresponse %}
{% endblock %}